<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        Face Recognition System
        <nav>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('list_persons') }}">List</a>
            <a href="{{ url_for('recognize') }}">Recognize</a>
        </nav>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
